body {
    font-family: 'Times New Roman', Times, serif, sans-serif,rgb(235, 222, 222); /* font as per choice */
      /* background-color: #f0f0f0; */
  
    background-image: url("https://media.istockphoto.com/id/1257951336/photo/transparent-umbrella-under-rain-against-water-drops-splash-background-rainy-weather-concept.jpg?s=612x612&w=0&k=20&c=lNvbIw1wReb-owe7_rMgW8lZz1zElqs5BOY1AZhyRXs=");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh; 
    margin: 0; 
    padding: 0; 
  }

.container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: rgba(29, 125, 169, 0.688); /* Setting the background color to be transparent */
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(8, 14, 22); /* Adjusting the alpha value for the box shadow transparency */
    margin-top: 230px;
}

h1 {
    font-size: 30px;
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #f0efef;
    border-radius: 5px;
}

button {
    background-color: #164271;
    color: #ffffff;
    border: 1px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.weather-info {
    margin-top: 10px;
}
/* styled the page */
